//
//  Base.xcconfig
//  DemoProject
//
//  Created by Dmitry Arbuzov on 05.03.2020.
//  Copyright © 2020 dm. All rights reserved.
//

// Achitectures
SDKROOT = iphoneos

// Deployment
IPHONEOS_DEPLOYMENT_TARGET = 11.0
TARGETED_DEVICE_FAMILY = 1,2

// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO

// Packaging
DEFINES_MODULE = YES
PRODUCT_NAME = $(TARGET_NAME)

// Apple Clang - Code Generation
GCC_NO_COMMON_BLOCKS = YES

// Apple Clang - Language
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES

// Apple Clang - Preprocessing
ENABLE_STRICT_OBJC_MSGSEND = YES

// Apple Clang - Warning Policies
GCC_TREAT_WARNINGS_AS_ERRORS = YES

// Apple Clang - Warnings - All languages
CLANG_WARN_ASSIGN_ENUM = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_FLOAT_CONVERSION = YES_ERROR
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES_ERROR
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES

// Apple Clang - Warnings - C++
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES

// Apple Clang - Warnings - Objective-C
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES

// Apple Clang - Warnings - Objective-C and ARC
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES

// Static Analyzer
RUN_CLANG_STATIC_ANALYZER = NO
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES

// Swift Compiler
SWIFT_VERSION = 5.1.3
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES

